<h2>Sobre a empresa</h2>

<p>
	A 5by5 é uma empresa formada por pessoas engajadas e comprometidas que pensando além do hoje, <br />
	unem tecnologia e inovação na aplicação das melhores e mais adequadas soluções para seus clientes.

	<br />
	<br />
	A Five oferece serviços de consultoria de TI e desenvolvimento de software para vários segmentos, <br />
	trabalhando com diversos tipos de projetos..
</p>