@{
	ViewBag.Title = "Home Page";
}


<div class="row">
	<div id="main" class="col-md-4" style="display:flex; flex-direction:column; align-items:center">
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<h2>Cadastro Venda</h2>
		<p><a class="btn btn-danger" href="~/Venda/Create">Cadastar &raquo;</a></p>
	</div>
	<div id="main" class="col-md-4" style="display:flex; flex-direction:column; align-items:center">
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<h2>Cadastro Cliente</h2>
		<p><a class="btn btn-danger" href="~/Cliente/Create">Cadastrar &raquo;</a></p>
	</div>
	<div id="main" class="col-md-4" style="display:flex; flex-direction:column; align-items:center">
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<h2>Cadastro Produto</h2>
		<p><a class="btn btn-danger" href="~/Redirecionar/Index">Cadastrar &raquo;</a></p>
	</div>
</div>